:host,
:root {
  /* COLORS */
  --hlx-import-text-color: #000;
  --hlx-import-link-color: #0563C1;
  --hlx-import-secondary-heading-color: #434343;
  --hlx-import-tertiary-heading-color: #666;
  --hlx-import-background-color: #fff;
  --hlx-import-table-head-background-color: #F5CBCD;

  /* FONTS */
  --hlx-import-font-family: 'Arial', sans-serif;

  /* FONT SIZES */
  --hlx-import-body-font-size: 14px;
  --hlx-import-h1-font-size: 25px;
  --hlx-import-h2-font-size: 20px;
  --hlx-import-h3-font-size: 18px;
  --hlx-import-h4-font-size: 15px;
  --hlx-import-h5-font-size: var(--hlx-import-body-font-size);
  --hlx-import-h6-font-size: var(--hlx-import-body-font-size);
}

main {
    height: calc(100vh - 232px);
    border: 1px solid lightgray;
    padding: 12px;
    background-color: var(--hlx-import-background-color);
    color: var(--hlx-import-text-color);
    font-family: var(--hlx-import-font-family);
    font-size: var(--hlx-import-body-font-size);
    line-height: 1.15;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding-bottom: 6px;
    font-weight: normal;
}

h1 {
    padding-top: 20px;
    font-size: var(--hlx-import-h1-font-size);
}

h2 {
    padding-top: 18px;
    font-size: var(--hlx-import-h2-font-size);
}

h3 {
    padding-top: 16px;
    padding-bottom: 4px;
    color: var(--hlx-import-secondary-heading-color);
    font-size: var(--hlx-import-h3-font-size);
}

h4 {
    padding-top: 14px;
    padding-bottom: 4px;
    color: var(--hlx-import-tertiary-heading-color);
    font-size: var(--hlx-import-h4-font-size);
}

h5 {
    padding-top: 12px;
    padding-bottom: 4px;
    color: var(--hlx-import-tertiary-heading-color);
    font-size: var(--hlx-import-h5-font-size);
}

h6 {
    padding-top: 12px;
    padding-bottom: 4px;
    color: var(--hlx-import-tertiary-heading-color);
    font-size: var(--hlx-import-h6-font-size);
    font-style: italic;
}

p {
    margin: 10px 0;
}

a:any-link {
    color: var(--hlx-import-link-color);
}

ul {
    padding-inline-start: 20px;
    list-style-type: none;
}

ul li {
    position: relative;
}

ul li::before {
    position: absolute;
    margin-left: -20px;
    content: '\2011';
}

img {
    max-width: 100%;
}

table,
th,
td {
    max-width: 100%;
    border: 1px solid var(--hlx-import-text-color);
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

thead tr {
    background-color: var(--hlx-import-table-head-background-color);
}

th,
td {
    padding: 6px;
}